/** Color **/
/* Login form */
* {
  margin: 0;
  padding: 0; }

header,
section,
footer,
aside,
nav,
main,
article,
figure {
  display: block; }

body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden; }

.titleText {
  padding-top: 91px;
  text-align: center;
  font-size: 24px;
  font-weight: 800;
  padding-bottom: 25px; }

.header-block {
  height: 41px;
  width: 100%;
  background-color: #8cc32e; }

.header {
  background-color: #8cc32e;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  transition: 0.5s;
  transform: translateY(-100%);
  position: fixed;
  z-index: 99999;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px; }
  .header .header-mobile {
    display: none; }
  .header.active {
    transform: translateY(0); }
  .header .header__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .header .header__wrapper .logo img {
      width: 120px; }
    .header .header__wrapper .nav {
      align-items: center; }
      .header .header__wrapper .nav .nav__item {
        display: grid;
        place-items: center;
        padding: 20px 20px;
        cursor: pointer;
        position: relative; }
        .header .header__wrapper .nav .nav__item .text {
          text-transform: uppercase;
          font-size: 12px;
          font-weight: 600;
          color: white;
          display: flex;
          align-items: center;
          transition: 0.3s; }
          .header .header__wrapper .nav .nav__item .text .arrow-down {
            font-size: 12px;
            margin-left: 10px;
            transition: 0.3s; }
          .header .header__wrapper .nav .nav__item .text:hover {
            color: #000; }
            .header .header__wrapper .nav .nav__item .text:hover .arrow-down {
              color: #000; }
        .header .header__wrapper .nav .nav__item:hover .nav-dropdown {
          visibility: visible;
          opacity: 1; }
        .header .header__wrapper .nav .nav__item .nav-dropdown {
          padding: 30px 40px;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
          background-color: #fff;
          position: absolute;
          min-width: 270px;
          z-index: 99999;
          top: 100%;
          left: 0;
          opacity: 0;
          visibility: hidden;
          transition: 0.3s; }
          .header .header__wrapper .nav .nav__item .nav-dropdown .nav-dropdown__item {
            font-size: 13px;
            transition: 0.3s;
            cursor: pointer;
            position: relative;
            z-index: 9999999; }
            .header .header__wrapper .nav .nav__item .nav-dropdown .nav-dropdown__item:hover {
              color: #8cc32e; }
        .header .header__wrapper .nav .nav__item ion-icon {
          color: white;
          font-size: 20px; }

.carousel {
  height: 1000vh; }

.star {
  color: yellow; }

.customCard {
  position: relative; }

.customCard .img img {
  width: 100%;
  height: 100%; }

.customCard .title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 15px; }

.customCard .title .title__left {
  font-size: 14px;
  font-weight: 600; }

.customCard .price {
  font-weight: 700;
  margin: 0px 0px 50px 0px; }

.customCard .title .title__right {
  font-size: 8px; }

.customCard .newTag {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: #56cb82;
  color: white;
  font-weight: 700;
  width: 50px;
  font-size: 9px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 6px; }

.customCard .newTag1 {
  position: absolute;
  top: 35px;
  left: 10px;
  background-color: #e85b40;
  color: white;
  font-weight: 700;
  width: 50px;
  font-size: 9px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 6px; }

.priceWrapper {
  display: flex; }

.customCard .price1 {
  text-decoration: line-through;
  font-weight: bold;
  font-size: 16px;
  color: #d5d5d5;
  margin-left: 10px; }

.img {
  padding-bottom: 30px; }

.about-banner {
  display: grid;
  place-items: center;
  background-image: url(../../../images/about/bg-banner.jpg);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 94.5vh; }
  .about-banner .about-banner__content {
    max-width: 60%;
    margin: auto;
    text-align: center; }
    .about-banner .about-banner__content h1 {
      color: #fff;
      font-weight: 800;
      font-size: 36px;
      padding-bottom: 18px; }
    .about-banner .about-banner__content p {
      color: #fff;
      font-size: 13px; }

.about-services .about-services__content {
  padding-bottom: 50px; }
  .about-services .about-services__content .services {
    padding-top: 0; }
  .about-services .about-services__content .service {
    display: flex;
    align-items: center;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 20px;
    border-radius: 8px;
    margin: 15px 0; }
    .about-services .about-services__content .service .service-left {
      padding-right: 25px; }
    .about-services .about-services__content .service .service-right .service-right__section {
      color: #dcdcdc;
      font-size: 12px;
      font-weight: 500; }
    .about-services .about-services__content .service .service-right .service-right__title {
      font-size: 20px;
      font-weight: 700;
      padding-bottom: 10px; }
    .about-services .about-services__content .service .service-right .service-right__description {
      font-size: 12px;
      color: #666; }

.about-chooseUs {
  background-color: #f5f5f5;
  padding-bottom: 50px; }
  .about-chooseUs__content .item {
    text-align: center; }
    .about-chooseUs__content .item__title {
      padding: 20px 0 10px; }
      .about-chooseUs__content .item__title span {
        font-weight: 800; }
    .about-chooseUs__content .item__description {
      font-size: 13px;
      color: #666;
      font-family: "Roboto", "HelveticaNeue", "Helvetica Neue", sans-serif; }

.about-groups img {
  width: 100%; }
.about-groups .left {
  padding-right: 0;
  text-align: right; }
.about-groups .right {
  padding-left: 0;
  text-align: left; }
.about-groups__text {
  display: flex;
  align-items: center;
  height: 100%; }
  .about-groups__text .wrapper {
    width: 50%;
    margin: auto;
    font-family: "Roboto", "HelveticaNeue", "Helvetica Neue", sans-serif; }
    .about-groups__text .wrapper__title h1 {
      font-size: 24px;
      font-weight: 800;
      padding-bottom: 10px; }
    .about-groups__text .wrapper__description {
      font-size: 13px;
      color: #666; }

.profile-banner {
  display: grid;
  place-items: center;
  background-image: url(../../../images/slideshow-2_1920x.jpg);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 60vh; }

.profile-tabs {
  padding: 50px 0; }
  .profile-tabs .profileForm {
    padding: 50px; }
    .profile-tabs .profileForm .inputWrapper {
      display: flex;
      align-items: center;
      height: 50px; }
    .profile-tabs .profileForm .inputWrapper__label {
      width: 120px;
      margin-bottom: 0; }
    .profile-tabs .profileForm input {
      border: none;
      border-bottom: 2px solid grey;
      margin-left: 20px; }
      .profile-tabs .profileForm input:focus {
        border-bottom: 2px solid black;
        outline: none; }
  .profile-tabs .order-content {
    padding: 50px; }
    .profile-tabs .order-content__search {
      width: 50%;
      text-align: right; }
    .profile-tabs .order-content__items .order-item {
      border: 2px solid black;
      margin-top: 20px;
      padding: 10px;
      display: flex;
      align-items: center;
      justify-content: space-between; }
      .profile-tabs .order-content__items .order-item__name {
        font-size: 25px;
        padding-left: 15px; }
      .profile-tabs .order-content__items .order-item img {
        width: 150px; }
      .profile-tabs .order-content__items .order-item__right {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: stretch;
        margin-bottom: auto; }
        .profile-tabs .order-content__items .order-item__right .bottom {
          font-size: 25px; }

/*# sourceMappingURL=index.css.map */
