.star{
    color:yellow
}
.customCard{
    position: relative;
}

.customCard .img img{
        width: 100%;
        height: 100%;
}
.customCard .title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 15px;
    
}
.customCard .title .title__left{
    font-size: 14px;
    font-weight: 600;
}
.customCard .price{
    font-weight : 700;
    margin: 0px 0px 50px 0px;
}
.customCard .title .title__right{
    font-size: 8px;
}
.customCard .newTag{
    position: absolute;
    top:10px;
    left:10px;
    background-color: #56cb82;
    color: white;
    font-weight: 700;
    width: 50px;
    font-size: 9px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 6px;
}
.customCard .newTag1{
    position : absolute;
    top:35px;
    left:10px;
    background-color: #e85b40 ;
    color : white;
    font-weight: 700;
    width: 50px;
    font-size: 9px;
    height:  20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius:  0 6px;
    
    
}
.priceWrapper{
    display: flex;
}
.customCard .price1{
    text-decoration: line-through;
    font-weight: bold ;
    font-size: 16px;
    color:#d5d5d5;
    margin-left: 10px;
}
.img{
    padding-bottom: 30px;
}



  

    
