
.footer-title {
    background-color: #002b51;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.footer-title .container {
    text-align: center;
    padding-top: 50px;
}

.footer-title .container .title {
    font-family: "Poppins", "HelveticaNeue", "Helvetica Neue", sans-serif;
    font-weight: 600;
    font-size: 1.8rem;
    color: white;
    line-height: 22px;
    margin-bottom: 15px;
}

.footer-title .container p:nth-child(2) {
    font-family: "Roboto", "HelveticaNeue", "Helvetica Neue", sans-serif;
    font-weight: 400;
    font-size: 11px;
    color: #8cc32e;
    text-transform: uppercase;
}

.footer-title .container .searchbar {
    max-width: 630px;
    position: relative;
    margin: auto;
    margin-top: 40px;
}

.footer-title .container .searchbar .search {
    width: 100%;
    height: 48px;
    padding: 18px;
    border: none;
    border-radius: 5px;
    font-size: 11px;
    font-family: "Roboto", "HelveticaNeue", "Helvetica Neue", sans-serif;
    font-weight: 400;
    background: white;
    outline: none;
}

.footer-title .container .searchbar button {
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    outline: none;
    height: 100%;
    width: 150px;
    font-family: "Roboto", "HelveticaNeue", "Helvetica Neue", sans-serif;
    border-radius: 5px;
    background-color: #8cc32e;
    text-transform: uppercase;
    font-weight: bolder;
    color: #fff;
    font-size: 12px;
}

.footer-content {
    background-color: #00305b;
    padding-top: 50px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.footer-content .container {
    padding: 0;
}

.footer-content .container .row {
    margin: 0;
}

.footer-content .container .row .col-lg-4 {
    padding: 0;
}

.footer-content .container .row .web-details .web-name {
    font-weight: 600;
    font-size: 2rem;
    text-transform: none;
    margin-bottom: 6px;
    margin-top: -18px;
    color: #8cc32e;
}

.footer-content .container .row .web-details p:nth-child(2), .footer-content .container .row .web-details p:nth-child(5) {
    font-family: "Roboto", "HelveticaNeue", "Helvetica Neue", sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 30px;
    color: #fff;
}

.footer-content .container .row .web-details p:nth-child(3) {
    font-family: "Poppins", "HelveticaNeue", "Helvetica Neue", sans-serif;
    font-weight: bold;
    font-size: 1rem;
    color: #8cc32e;
}

.footer-content .container .row .web-details p:nth-child(4) {
    font-family: "Roboto", "HelveticaNeue", "Helvetica Neue", sans-serif;
    font-size: 13px;
    font-weight: 400;
    color: #8cc32e;
}

.footer-content .container .row .web-details ul {
    display: inline-block;
    list-style-type: none;
    padding: 0;
}

.footer-content .container .row .web-details ul li {
    float: left;
    padding: 0 10px;
}

.footer-content .container .row .web-details ul li:first-child {
    padding-left: 0;
}

.footer-content .container .row .web-details ul li a {
    font-size: 19px;
    color: #fff;
    text-decoration: none;
    transition: .2s ease-in-out;
}

.footer-content .container .row .web-details ul li a:hover {
    color: #8cc32e;
}

.footer-content .container .row .customer-service .title {
    font-family: "Poppins", "HelveticaNeue", "Helvetica Neue", sans-serif;
    font-size: 0.9rem;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    margin-bottom: 16px;
}

.footer-content .container .row .customer-service ul {
    padding: 0;
    list-style-type: none;
}

.footer-content .container .row .customer-service ul li {
    padding: 5px 0;
}

.footer-content .container .row .customer-service ul li a {
    font-family: "Roboto", "HelveticaNeue", "Helvetica Neue", sans-serif;
    font-size: 13px;
    color: white;
    font-weight: 400;
    text-decoration: none;
    transition: .2s ease-in-out;
}

.footer-content .container .row .customer-service ul li a:hover {
    color: #8cc32e;
}

.footer-extend {
    background-color: #00305b;
    padding: 20px 20px;
}

.footer-extend .container {
    display: flex;
    align-items: center;
}

.footer-extend .container p {
    margin: 0;
    float: left;
    font-family: "Roboto", "HelveticaNeue", "Helvetica Neue", sans-serif;
    font-size: 12px;
    color: white;
    font-weight: bold;
}

.footer-extend .container a {
    margin-left: auto;
}


@media (max-width: 576px) {
    .footer-extend .container {
        display: block;
        text-align: center;
    }
    .footer-extend .container p {
        float: none;
        margin-bottom: 5px;
    }
    .footer-title .container, .footer-content .container, .footer-extend .container {
        padding: 0 10px;
    }
    .footer-title .container {
        padding-top: 20px;
    }
}