.profile-banner{
    display: grid;
    place-items: center;
    background-image: url(../../../images/slideshow-2_1920x.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 60vh;
    
}