.profile-tabs {
    padding: 50px 0;

    .profileForm {
        padding: 50px;

        .inputWrapper {
            display: flex;
            align-items: center;
            height: 50px;

            &.radio {}
        }

        .inputWrapper__label {
            width: 120px;
            margin-bottom: 0;
        }

        input {
            border: none;
            border-bottom: 2px solid grey;
            margin-left: 20px;

            &:focus {
                border-bottom: 2px solid black;

                outline: none;
            }
        }
    }

    .order-content {
        padding: 50px;

        &__search {
            width: 50%;
            text-align: right;
        }

        &__items {
            .order-item {
                border: 2px solid black;
                margin-top: 20px;
                padding: 10px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                &__name{
                    font-size: 25px;
                    padding-left: 15px;
                }
                img {
                    width: 150px;

                }
                &__right{
                    display: flex;
                    justify-content: space-between;
                    flex-direction: column;
                    align-items: stretch;
                    margin-bottom: auto;
                    .bottom{
                        font-size: 25px;
                    }
                }
            }
        }
    }
}