.about-banner {
    display: grid;
    place-items: center;
    background-image: url(../../../images/about/bg-banner.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 94.5vh;
    .about-banner__content {
        max-width: 60%;
        margin: auto;
        text-align: center;
        h1 {
            color: $white;
            font-weight: 800;
            font-size: 36px;
            padding-bottom: 18px;
        }
        p{
            color:$white;
            font-size: 13px;
        }
    }
}
