.about-chooseUs {
    background-color: $colorLighterGrey;
    padding-bottom: 50px;
    &__content {
        .item {
            text-align: center;
            &__title {
                padding: 20px 0 10px;
                span {
                    font-weight: 800;
                }
            }
            &__description {
                font-size: 13px;
                color: $about-description-color;
                font-family: "Roboto", "HelveticaNeue", "Helvetica Neue", sans-serif;            }
        }
    }
}
