.about-groups {
    img {
        width: 100%;
    }
    .left{
        padding-right: 0;
        text-align: right;
    }
    .right{
        padding-left: 0;
        text-align: left;

    }
    &__text {
        display: flex;
        align-items: center;
        height: 100%;
        .wrapper {
            width: 50%;
            margin: auto;
            font-family: "Roboto", "HelveticaNeue", "Helvetica Neue", sans-serif;
            &__title {
                h1 {
                    font-size: 24px;
                    font-weight: 800;
                    padding-bottom: 10px;
                }
            }
            &__description{
                font-size: 13px;
                color:#666;
            }
        }
    }
}
