.about-services {
    .about-services__content {
        padding-bottom: 50px;
        .services{
            padding-top: 0;
        }
        .service {
            display: flex;
            align-items: center;
            box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
            padding: 20px;
            border-radius: 8px;
            margin: 15px 0;
            .service-left {
                padding-right: 25px;
            }
            .service-right {
                .service-right__section {
                    color: #dcdcdc;
                    font-size: 12px;
                    font-weight: 500;
                }
                .service-right__title {
                    font-size: 20px;
                    font-weight: 700;
                    padding-bottom: 10px;
                }
                .service-right__description {
                    font-size: 12px;
                    color: #666;
                }
            }
        }
    }
}
