.contact{
    font-weight: 600;
    font-size: 1.5rem;
    color: #222222;
    margin:-6px 0 44px;
    padding-top: 100px;
}
.icon{
    font-size: 25px;
    color: #666666;
    line-height: 1.5;
    
}
.boi1{
    display: flex;
    align-items: center;
    

}
.content{
    padding-left: 15px;
}
.content .content__left{
    font-weight: bold;
    font-size: 10px;
    color: #222222 ;
    margin-bottom: 4px;
}
.content .content__right{
    font-weight: bold;
    font-size: 1.0rem;
    color: #222222;
}
.content .content__right1{
    font-weight: 400;
    color:#666666;
    font-size: 1.0rem;
}
.social-icon{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 80px;
    

}
.row{
    display: flex;
    
}
.boi2{
    text-align: left;
    font-size: 15px;
    width: 33.3%;
}
.social-icon .icon1{
    padding-left: 30px;
    color: #666666;
    font-size: 18px;

}
.FormConTact{
    padding-top: 70px;
    
    
}
.form-group{
    display: flex;
}
#ContactFormName{
    height: 42px;
    font-weight: 400;
    font-size: 10px;
    color: #909090;
    background: white;
    border: 1px solid #ededed;
    text-transform: uppercase;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
}
#ContactFormEmail{
    height: 42px;
    font-weight: 400;
    font-size: 10px;
    color: #909090;
    background: white;
    border: 1px solid #ededed;
    text-transform: uppercase;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
}
#ContactFormPhone{
    height: 42px;
    font-weight: 400;
    font-size: 10px;
    color: #909090;
    background: white;
    border: 1px solid #ededed;
    text-transform: uppercase;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
}
#ContactFormMessage{
    font-weight: 400;
    font-size: 10px;
    letter-spacing: 1px;
    border: 1px solid #ededed;
    color: #909090;
    background: white;
    text-transform: uppercase;
    width: 100%;
    padding: 13px 15px;
    line-height: 1.2;
    border-radius: 2px;
}
.map {
    padding-top: 35px;
    line-height: 2.0;
}
.map .ggmap{
    width: 100%;
    height: 400px;
}
.sendMessageBtn{
    background: #f7af24;
    font-size: 10px;
    color:#fff;
    padding-left: 20px;
    margin-left: 10px;
}
.send1{
    padding-left: 5px;
    text-align: center;
    font-weight: 500;
    font-size: 10px;
}
.btn i{
    font-size: 10px;
    text-align: center;
}
