.page-width {
    margin-top: 100px;
    padding-bottom: 100px;
}

.container {

    text-align: center;
}

.empty-page h1 {
    font-size: 25px;
    margin: 0 0 6px;
    font-family: "Poppins", "HelveticaNeue", "Helvetica Neue", sans-serif;
    font-weight: 600;
    color: #222222;
    text-transform: capitalize;
    margin: 0px 0px 30px 0px;
}

.page-width p {

    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    line-height: 10px;
}

.btn {
    font-weight: 600;
    font-size: 11px;
    margin-top: 20px;
    color: white;
    background: #f7af24;
    border-radius: 5px;
    display: inline-block;
    width: auto;
    text-decoration: none;
    text-align: center
}