.photo .img img{
    font-size: 12px;
    color: #666;
    line-height: 1.5;
    position: relative;
    text-align: left;
    background-color: #fff;
    border: 1px solid #e6e6e6;
    width: 100%;
    height: 100%;
    
}
.product{
    padding-top: 100px;
}
.photo .photoProduct{
    width: 100%;
}
.photo .photoProduct .list {
    width: 100%;
}
.photo .photoProduct .list .listshoe{
    width: 100%;
    display: grid;
    gap:5px;
    grid-template-columns:  auto auto auto auto auto;
    padding-top: 8px;
}
.photo .photoProduct .list .listshoe .img1 img{
    width: 100%;
}
.photo{
    padding-top: 20px;
    padding-left: 60px;
}
.title{
    padding-left: 30px;
}
.title .title2{
    display: flex;
}
.title .title2__right{
    
    color: yellow;
    font-size: 12px;
}
.title .title2__left{
    font-weight: bold;
    font-size: 11px;
    color: #666;
    margin-right: 13px;
    line-height: 1.5;
}
.title .title1{
    font-size: 20px;
    color: #222;
    font-weight: 500;
    margin: -4px 0 22px 0;
    line-height: 1.2;
    text-align: left;
    background-color: #fff;
    padding-top: 20px;
}
.title .title3{
    display: flex;
}
.title .title3__left{
    font-size: 1.5rem;
    font-weight: 900;
    color: #222;
    margin: 20px 0 18px;
}
.title .title3__right{
    font-size: 1.2rem;
    font-weight: 900;
    margin-left: 15px;
    color: #e0e0e0;
    margin: 20px 0 18px;
    line-height: 1.5;
    padding-left: 20px;
    padding-top: 5px;
    text-decoration: line-through;
}
.title .title4{
    display: flex;
}
.title .title4__left{
    font-size: 12px;
    font-weight: bold;
    color: #444;
    line-height: 1.5;
}
.title .title4__right{
    margin: 0 7px;
    font-size: 10px;
    font-weight: 400;
    color: #6bb853;
    text-transform: uppercase;
}
.title5{
    display: flex;
    padding-top: 10px;
}
.title5__left{
    margin-right: 5px;
    font-weight: bold;
    color: #444;
    font-size: 13px;
    text-transform: uppercase;
    line-height: 1.5;
}
.title5__right{
    font-size: 13px;
    font-weight: bold;
    color: #666;
    text-transform: uppercase;
}
.title6{
    display: flex;
    padding-top: 10px;
}
.title .title6__left{
    margin-right: 5px;
    font-size: 14px;
    font-weight: bold;
    color: #444;
    line-height: 1.5;
}
.title .title6__right{
    font-size: 14px;
    color: #666;
}
.title7{
    display: flex;
    padding-top: 10px;
}
.title .title7 .title7__left{
    margin-right: 5px;
    font-size: 14px;
    font-weight: bold;
    color: #444;
    line-height: 1.5;
}
.title .title7 .title7__right{
    font-size: 14px;
    color: #666;
}
.title8{
    display: flex;
}
.title8 .title8__right{
    display: flex;
    font-size: 20px;
    padding-top: 10px;
}
.title8__blue{
    color: #0000FF;
    margin-left: 10px;
}
.title8__red{
    color: #FF0000;
    margin-left: 5px;
}
.title8__white i{
    color: #FFFFFF;
    margin-left: 5px;
    border-width: 1px ;
   border-color: black;
    border-style: solid;
    font-size: 17px;
}
.title8__grey{
    color: #808080;
    margin-left: 5px;
}
.title8__pink{
    color: #FFC0CB;
    margin-left: 5px;
}
.title8__black{
    margin-left: 5px;
    color: #000000;
}
.title8__left{
    font-size: 11px;
    font-weight: bold;
    color: #666;
    margin-top: 20px;
    margin-right: 15px;
}
.title9 .title9__left{
    font-size: 11px;
    font-weight: bold;
    color: #666;
    
    margin-right: 15px;
}
.title9{
    display: flex;
    padding-top:10px;
}
.title10{
    padding-top: 20px;
    display: flex;
}
.title10 .title10__left{
    background-color:#fff;
    font-size: 13px;
    text-align: center;
    height: 48px;
}
.addToCart{
    align-items: center;
    justify-content: center;
    display: flex;
    margin-right: 10px;
    line-height: 40px;
    min-width: 220px;
    border-radius: 3px;
    background: #f7af24;
    padding: 10px 18px;
    text-align: center;
    font-size: 11px;
    color: #fff;
    margin-left: 10px;
    height: 39px;
}
.ADD{
    font-weight: 600;
    text-align: center;
    font-size: 11px;
    color: #fff;
    text-transform: uppercase;
    line-height: 50px;
    justify-content: center;
    padding-left: 10px;

}
.iconHeart{
    align-items: center;
    justify-content: center;
    display: flex;
    width: 38px;
    height: 38px;
    line-height: 47px;
    background: #f7af24;
    color: #fff;
    font-size: 10px;

}
.title11{
    display: flex;
    margin-top: 10px;

}
.title11 .boder{
    border-bottom: 1px solid #eeeeee;
    border-top: 1px solid #eeeeee;
    display: flex;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 600px;
}
.title11 .size-guide{
    display: flex;
    margin-left: 30px;
    font-size: 12px;
    line-height: 1.5;
    font-weight: 400;
    text-align: left;
    background-color: #fff;
    color: #999;
}
.title11  .size-guide .size-guide__left{
    padding-right: 10px;
    color: #28a745;
}
.title11  .size-guide .size-guide__right{
    font-size: 11px;
    font-weight: bold;
    color: #666;
    text-transform: uppercase;
}
.title11 .share{
    display: flex;
    margin-left: 30px;
    font-size: 12px;
    line-height: 1.5;
    font-weight: 400;
    text-align: left;
    background-color: #fff;
    color: #999;
}
.title11  .share .share__left{
    padding-right: 10px;
    color: #28a745;
}
.title11  .share .share__right{
    font-size: 11px;
    font-weight: bold;
    color: #666;
    text-transform: uppercase;
}
.title11 .print{
    display: flex;
    margin-left: 30px;
    font-size: 12px;
    line-height: 1.5;
    font-weight: 400;
    text-align: left;
    background-color: #fff;
    color: #999;
}
.title11  .print .print__left{
    padding-right: 10px;
    color: #28a745;
}
.title11  .print .print__right{
    font-size: 11px;
    font-weight: bold;
    color: #666;
    text-transform: uppercase;
}
.Description{
    padding-top: 40px;
}
.Content{
    display: flex;
    font-size: 14px;
    line-height: 1.5;
   
   
}
.Content .Des{
    color :#222;
    font-size: 1.0rem;
    font-weight: bold;
    text-transform: uppercase;
    padding: 13px 0;
    line-height: 1.5;
    padding-left: 55px;
    position: relative;

   
}
.Content .des1{
    border-bottom: 3px solid #28a745;
    padding-bottom: 10px;
    width: 100%;
}
.Content .writeReview{
    color: #bfbfbf;
    font-weight: bold;
    font-size: 1.0rem;
    display: block;
    text-transform: uppercase;
    padding: 13px 0;
    margin-left: 35px;
    position: relative;
  
    width: 100%;
}
.Description .Content1 .img1{
    margin: 40px 0;
    height: 100%;
    vertical-align: middle;
    line-height: 24px;
    justify-content: space-between;
    padding-left: 350px;
}
.Content1{
    padding-left: 50px;
}
.CONTENT{
    display: flex;
    padding-top: 30px;
    padding-left: 60px;
    

}
.CONTENT .CONTENT__LEFT{
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 40px;
    padding-bottom: 10px;
    
    position: relative;
    line-height: 1.5;
    color: #222;
    text-transform: none;
    border-bottom: 2px solid orange;
}
.CONTENT__RIGHT{
    display: flex;
    padding-left: 800px;
}
.CONTENT .CONTENT__RIGHT .button1{
    width: 25px;
    height: 25px;
    border-radius: 2px;
   display: flex;
    top: -10%;
    color: white;
    line-height: 32px;
    align-items: center;
    justify-content: center;
    margin-left: 5px;
    
    
}
.CONTENT .CONTENT__RIGHT .button1{
    width: 25px;
    height: 25px;
    border-radius: 2px;
    display: flex;
    top: -10%;
    color: white;
    line-height: 32px;
    align-items: center;
    justify-content :center;

}
.CustomCard {
    position: relative; 

    
}
  
.CustomCard .img img {
    width: 100%;
    height: 100%; 
    font-size: 10px;
   
}
  
.CustomCard .TITLE1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 15px;
 }
.CustomCard .TITLE1 .TITLE1__LEFT{
    font-size: 10px;
    font-weight: 600;
}
.CustomCard .TITLE1__RIGHT{
    font-size: 8px;
}
.CustomCard .price{
    font-weight: bold;
    margin: 0px 0px 50px 0px; 
    font-size: 13px;
    padding-top: 10px;
    
}
.CustomCard .newTag {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #56cb82;
    color: white;
    font-weight: 700;
    width: 50px;
    font-size: 9px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 6px; }
  
.CustomCard .newTag1 {
    position: absolute;
    top: 35px;
    left: 10px;
    background-color: #e85b40;
    color: white;
    font-weight: 700;
    width: 50px;
    font-size: 9px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 6px; }
  
  .priceWrapper {
    display: flex; }
  
.CustomCard .price1 {
    text-decoration: line-through;
    font-weight: bold;
    font-size: 13px;
    color: #d5d5d5;
    margin-left: 10px;
    padding-top: 10px;
    
  

  




