
.page_signin
{
	padding:50px 0;
}
.col-6
{
	
	width: 360px;
	height: 454px;
	padding: 15px;
	margin: 100px 0px;

}
.form-vertical
{
	width: 330px;
	height: 454px;
}
.page_signin .row 
{

	width: 772px;
	
}
.page_signin .container
{

	width: 772px;
}
.form-vertical .text1
{
	font-size: 1.3rem;
	color: #000;
	font-weight: bold;
	font-family: "Poppins", "HelveticaNeue", "Helvetica Neue", sans-serif;
	position: relative;
	padding-bottom: 8px;

}

.text2
{
	font-size: 13px;
	color: #666666;
	font-family: "Roboto", "HelveticaNeue", "Helvetica Neue", sans-serif;
	margin: 0px 0px 14px 0px;
}

.submit
{
	margin: 15px 0px 0px 0px;

}
.form-group input
{
	width: 100%;
	height: 40px;
}
.text3
{
	 font-family: "Roboto", "HelveticaNeue", "Helvetica Neue", sans-serif;
    font-weight: 400;
    font-size: 11px;
    color: #bbbbbb;
    font-size: 13px;

}
.text4
{
	font-family: "Roboto", "HelveticaNeue", "Helvetica Neue", sans-serif;
    font-weight: 400;
    font-size: 13px;
    color: #666666;
    margin: 10px 0px;
}
.text4 a {
	text-decoration: none;
}