html, body {
    position: relative;
    height: 100%;
}

.body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}

.cover-header {
    position: fixed;
    top: 40px;
    left: 0;
    z-index: 2;
    width: 100%;
    background-color: rgba(255, 255, 255, 0);
}

.cover-header .navbar {
    background-color: rgba(255, 255, 255, 0)!important;
}

.cover-header .navbar .menu-options {
    display: inline-block;
    display: flex;
    align-items: center;
    margin-left: 100px;
}

.menu-options-active {
    color: #8cc32e!important;
}

.second-nav .menu-options-active {
    color: #343a40!important;
}

.cover-header .navbar .menu-options ul {
    padding: 0;
    list-style-type: none;
    display: inline-block;
    margin: 0;
}

.cover-header .navbar .menu-options ul li {
    padding: 0;
    float: left;
}

.cover-header .navbar .menu-options a {
    float: left;
    padding: 0 25px;
    font-family: "Poppins", "HelveticaNeue", "Helvetica Neue", sans-serif;
    font-size: 12px;
    line-height: 20px;
    color: white;
    font-weight: 600;
    text-transform: uppercase;
    position: relative;
    text-decoration: none;
}

.cover-header .navbar .menu-options p {
    font-family: "Poppins", "HelveticaNeue", "Helvetica Neue", sans-serif;
    font-size: 12px;
    line-height: 20px;
    color: white;
    font-weight: 600;
    text-transform: uppercase;
    position: relative;
    padding: 0 25px;
    float: left;
    margin-bottom: 0;
    cursor: pointer;
}

.cover-header .navbar .menu-options p:hover {
    color: #8cc32e!important;
}

.cover-header .navbar .menu-options p i {
    margin-left: 3px;
}

.cover-header .navbar .tool {
    display: flex;
    align-items: center;
    padding: 0 15px;
}

.cover-header .navbar .menu-options .cover-navbar .brand-dropdown .menu-drop-down-brand {
    position: absolute;
    top: 120%;
    background-color: #fff;
    padding: 10px 30px;
    width: 20%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-20px);
    transition: .4s ease-in-out;
}

.second-nav .navbar .menu-options .cover-navbar .brand-dropdown .menu-drop-down-brand {
    top: 100%;
    box-shadow: 0px 0px 22px 0px rgba(116, 116, 116, 0.75);
}

.cover-header .navbar .menu-options .cover-navbar .brand-dropdown:hover .menu-drop-down-brand {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.cover-header .navbar .menu-options .cover-navbar .brand-dropdown .menu-drop-down-brand ul {
    display: block;
}

.cover-header .navbar .menu-options .cover-navbar .brand-dropdown .menu-drop-down-brand ul li {
    float: none;
    padding: 10px 0;
    border-bottom: 1px solid rgb(237, 237, 237);
}

.cover-header .navbar .menu-options .cover-navbar .brand-dropdown .menu-drop-down-brand ul li:last-child {
    border-bottom: none;
}

.cover-header .navbar .menu-options .cover-navbar .brand-dropdown .menu-drop-down-brand ul li a {
    color: #666666;
    float: none;
    padding: 0;
    transition: .2s ease-in-out;
}

.cover-header .navbar .menu-options .cover-navbar .brand-dropdown .menu-drop-down-brand ul li a:hover {
    color: #8cc32e;
}

.cover-header .navbar .tool button {
    outline: none;
    border: none;
    background-color: inherit;
    color: #fff;
    height: 15px;
    padding: 0 18px;
    cursor: pointer;
}

.cover-header .navbar .tool .line {
    border-left: 1px solid #cacaca23;
    display: inline-block;
    height: 18px;
}

.cover-header .navbar .tool .cover-button-search .search-input {
    position: absolute;
    top: 120%;
    margin-left: -100px;
    width: 250px;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-50px);
    transition: .4s ease-in-out;
}

.cover-header .navbar .tool .cover-button-search .search-input input {
    width: 100%;
    height: 35px;
    border: none;
    outline: none;
    border-radius: 5px;
    padding-left: 15px;
    font-size: 12px;
    background-color: white;
    color: #162950;
    line-height: 1.2;
}

.second-nav .navbar .tool .cover-button-search .search-input input {
    box-shadow: 0px 0px 22px 0px rgba(116, 116, 116, 0.75);
}

.cover-header .navbar .tool .cover-button-search .search-input::after {
    content: '';
    position: absolute;
    top: -10px;
    left: 45%;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid rgb(255, 255, 255);
}

.cover-header .navbar .tool .cover-button-search .search-input button {
    position: absolute;
    right: 10px;
    border: none;
    outline: none;
    color: #8cc32e;
    height: 35px;
    padding: 0;
}

.cover-header .navbar .tool button:nth-child(2) {
    /* border-left: 1px solid #cacaca23;
    border-right: 1px solid #cacaca23; */
}

.cover-header .navbar .tool a {
    text-decoration: none;
    color: #fff;
    margin: 7px 0 0 15px;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: bold;
}

.cover-header .navbar .tool .cover-button-profile .cover-profile-options {
    position: absolute;
    right: 0%;
    top: 110%;
    background-color: #fff;
    width: 200px;
    padding: 10px 20px;
    border-radius: 5px;
    transform: translateY(-50px);
    opacity: 0;
    visibility: hidden;
    transition: .5s ease-in-out;
}

.second-nav .navbar .tool .cover-button-profile .cover-profile-options {
    box-shadow: 0px 0px 22px 0px rgb(116 116 116 / 75%);
}

.cover-profile-options-active {
    transform: translateY(0)!important;
    opacity: 1!important;
    visibility: visible!important;
}

.cover-header .navbar .tool .cover-button-profile .cover-profile-options ul {
    padding: 0;
    list-style-type: none;
}

.cover-header .navbar .tool .cover-button-profile .cover-profile-options ul li {
    padding: 10px 0;
    border-bottom: 1px solid #ededed;
}

.cover-header .navbar .tool .cover-button-profile .cover-profile-options ul li:last-child {
    border-bottom: none;
}

.cover-header .navbar .tool .cover-button-profile .cover-profile-options ul li a {
    text-decoration: none;
    color: #666666;
    text-transform: uppercase;
    font-family: "Roboto", "HelveticaNeue", "Helvetica Neue", sans-serif;
    font-weight: bold;
    font-size: 12px;
    transition: .2s ease-in-out;
}

.cover-header .navbar .tool .cover-button-profile .cover-profile-options ul li a:hover {
    color: #8cc32e;
}

.cover-header .navbar .tool .cover-button-profile .cover-profile-options ul li a i {
    margin-right: 7px;
}

.second-nav {
    top: -30px;
    background-color: #8cc32e;
    transition: .8s ease-in-out;
    opacity: 0;
    visibility: hidden;
}

.second-nav-active {
    top: 0!important;
    opacity: 1!important;
    visibility: visible!important;
}

.second-nav .navbar .menu-options p:hover {
    color: #343a40!important;
}

.cover-header .menu-drop-down-product {
    position: absolute;
    width: 100%;
    left: 0;
    top: 120%;
    opacity: 0;
    height: 0px;
    visibility: hidden;
    transition: .4s ease-in-out;
    transform: translateY(-20px);
}

.second-nav .menu-drop-down-product {
    box-shadow: 0px 0px 22px 0px rgba(116, 116, 116, 0.75);
}

.second-nav .menu-drop-down-product {
    top: 100%;
}

.product-dropdown:hover .menu-drop-down-product {
    opacity: 1;
    height: auto;
    visibility: visible;
    transform: translateY(0);
}

.cover-header .menu-drop-down-product .container {
    height: auto;
    background-color: #fff;
    padding: 15px 10px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.cover-header .menu-drop-down-product .container .row .col-3 .title {
    cursor: text;
    padding: 0;
    color: #222222;
    font-size: 0.8rem;
    font-weight: bold;
    font-family: "Poppins", "HelveticaNeue", "Helvetica Neue", sans-serif;
    text-transform: uppercase;
    float: none;
    margin-bottom: 10px;
}

.cover-header .menu-drop-down-product .container .row .col-3 .title:hover {
    color: #222222!important;
}

.cover-header .menu-drop-down-product .container .row .col-3 a {
    padding: 0;
}

.cover-header .menu-drop-down-product .container .row .col-3 ul {
    padding: 0;
    list-style-type: none;
    display: grid;
}

.cover-header .menu-drop-down-product .container .row .col-3 ul li {
    border-bottom: 1px solid #ededed;
    padding: 5px 0;
}

.cover-header .menu-drop-down-product .container .row .col-3 ul li:last-child {
    border-bottom: none;
}

.cover-header .menu-drop-down-product .container .row .col-3 ul li a {
    text-decoration: none;
    color: #666666;
    transition: .3s ease;
    text-transform: capitalize;
}

.cover-header .menu-drop-down-product .container .row .col-3 ul li a:hover {
    color: #8cc32e;
}

.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

/* .swiper-slide:active img {
    display: none;
} */

.slide1 h3 {
    position: absolute;
    right: 10%;
    transform: translateX(1500px);
    transition: 2s ease-in-out
}

.swiper-slide-active .title {
    transform: translateX(0);
}

.swiper-slide img {
    width: 100%;
}

.wrapper2 {
    padding-bottom: 50px;
}

.swiper-pagination-bullet-active {
    background-color: #8cc32e;
}

.slide1 .smaller-title {
    font-family: "Poppins", "HelveticaNeue", "Helvetica Neue", sans-serif;
    font-size: 2rem;
    padding: 0 0 16px;
    font-weight: bold;
    text-transform: uppercase;
    top: 40%;
    transform: translateX(-1500px);
    color: #fff;
    transition: 1s all;
}

.slide1 .title {
    font-size: 8.5rem;
    font-family: "Poppins", "HelveticaNeue", "Helvetica Neue", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    color: rgba(223, 223, 223, 0.664);
    top: 50%;
    transition: .5s ease-in-out;
    transition-delay: .2s;
}

.slide2 h3 {
    position: absolute;
    right: 10%;
    transform: translateY(-500px);
    transition: 2s ease-in-out
}

.slide2 .title {
    font-size: 8.5rem;
    font-family: "Poppins", "HelveticaNeue", "Helvetica Neue", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.603);
    top: 40%;
    transition: .5s ease-in-out;
    transition-delay: .2s;
}

.slide2 .smaller-title {
    font-family: "Poppins", "HelveticaNeue", "Helvetica Neue", sans-serif;
    font-size: 2.5rem;
    padding: 0 0 16px;
    font-weight: bold;
    text-transform: uppercase;
    top: 34%;
    left: 15%;
    transform: translateY(-500px);
    color: #fff;
    transition: 1s all;
}

.slide2 .boots-img {
    position: absolute;
    top: 30%;
    left: 40%;
    width: 30%;
    transform: scale(0);
    transition: 1s all;
}

.swiper-slide-active .boots-img {
    transform: scale(1);
}

.swiper-slide-active .smaller-title {
    transform: translateX(0);
}

.title-active {
    /* right: 10%!important; */
}

.second-banner {
    width: 100%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.second-banner .container .row {
    padding-left: 15px;
}

.second-banner .banner1 {
    float: left;
    padding: 0;
    text-align: center;
}

.running-shoe {
    width: 100%;
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: #fff;
}

.running-shoe .container .title .running, .blog-post .container .title .latest {
    color: #cdcdcd;
    display: block;
    font-size: 1.5rem;
    font-family: "Poppins", "HelveticaNeue", "Helvetica Neue", sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    padding: 0 0 3px;
    margin-bottom: 0;
}

.running-shoe .container .title .shoes, .blog-post .container .title .blog {
    display: inline-block;
}

.running-shoe .container .title .shoes .shoes-title, .blog-post .container .title .blog .blog-title {
    font-size: 3rem;
    font-family: "Poppins", "HelveticaNeue", "Helvetica Neue", sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    line-height: 50px;
    margin: 0;
    margin-right: 52px;
    float: left;
    color: rgb(44, 44, 44);
}

.running-shoe .container .title .shoes .shoes-content, .blog-post .container .title .blog .blog-content {
    display: inline;
    width: 500px;
    float: left;
    margin-bottom: 0;
    margin-top: 10px;
    color: #666666;
}

/* Slide Product */

.running-shoe .container .slide-product {
    overflow: hidden;
}

.swiper-container-product {
    width: 100%;
    height: 100%;
    position: relative;
}

.swiper-slide-product {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-pagination {
    margin-top: 20px;
}

/* Custom card */

.customCard {
    cursor: pointer;
    position: relative;
    padding-bottom: 10px;
}

.customCard .img img {
    width: 100%;
    height: 100%;
}

.customCard .title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 15px;
}

.customCard .title .title__left {
    font-size: 14px;
    font-weight: 600;
    text-align: left;
    margin-bottom: 15px;
}

.customCard .price {
    font-weight: 700;
    margin: 0px 0px 10px 0px;
    font-size: 13px;
    text-align: left;
    font-family: "Poppins", "HelveticaNeue", "Helvetica Neue", sans-serif;
}

.customCard .title .title__right {
    display: flex;
}

.customCard .title .title__right i {
    font-size: 8px;
}

.customCard .newTag {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #56cb82;
    color: white;
    font-weight: 700;
    width: 50px;
    font-size: 9px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 6px;
}

.customCard .newTag1 {
    position: absolute;
    top: 35px;
    left: 10px;
    background-color: #e85b40;
    color: white;
    font-weight: 700;
    width: 50px;
    font-size: 9px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 6px;
}

.priceWrapper {
    display: flex;
}

.customCard .price1 {
    text-decoration: line-through;
    font-weight: bold;
    font-size: 13px;
    color: #d5d5d5;
    margin-left: 10px;
}

.star {
    color: rgb(255, 217, 0);
}

.customCard .options {
    position: absolute;
    right: 0;
    bottom: 10px;
    display: inline-block;
}

.customCard .options a {
    text-decoration: none;
}

.customCard .options .option {
    width: 35px;
    height: 35px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ececec;
    float: left;
    margin: 0 2px;
    font-size: 10px;
    color: #222222;
    transition: .4s ease-in-out;
    transform: translateY(20px);
    opacity: 0;
    visibility: hidden;
}

.customCard .options .option:hover {
    background-color: #8cc32e;
    color: #fff;
}

.customCard .options .add {
    transition-delay: .2s;
}

.customCard .options .view {
    transition-delay: .4s;
}

.customCard:hover .option {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
}

/* Third banner */

.third-banner {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.third-banner .cover-img::after {
    position: absolute;
    display: inline-block;
    top: -75%;
    right: 32%;
    content: '';
    width: 150%;
    height: 80%;
    background-color: #ffffff1e;
    transform: skewY(-50deg);
    transition: .5s ease-in-out;
}

.third-banner .cover-img:hover::after {
    /* transform: translateX(2300px) translateY(150px) rotate(30deg); */
    top: 0%;
    right: -150%;
}

.third-banner img {
    width: 100%;
}

.category {
    padding-top: 60px;
    padding-bottom: 160px;
    background-color: #fff;
}

.category .container {
    overflow: hidden;
}

.category .container .nav .nav-item .nav-link {
    background-color: #fff;
}

.category .container .nav .nav-item .nav-link p {
    display: block;
    font-size: 2rem;
    font-family: "Poppins", "HelveticaNeue", "Helvetica Neue", sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 19px;
    color: #cdcdcd;
}

.category .container .nav .nav-item .active p:last-child {
    color: #000;
}

.category .container .nav .nav-item .nav-link p .checkbox {
    width: 15px;
    height: 30px;
    border: 1px solid black;
}

.category .container .nav .nav-item .nav-link p:first-child {
    font-size: 1.2rem;
}

/* Forth banner */

.forth-banner {
    background-color: #1f3d53;
    padding-top: 20px;
    padding-bottom: 50px;
    height: 350px;
}

.forth-banner .container .row .title p {
    font-family: "Poppins", "HelveticaNeue", "Helvetica Neue", sans-serif;
    font-weight: 800;
    text-transform: uppercase;
}

.forth-banner .container .row .title p:first-child {
    font-size: 1.1rem;
    line-height: 24px;
    margin-bottom: 15px;
    color: #8cc32e;
}

.forth-banner .container .row .title p:nth-child(2) {
    font-size: 1.8rem;
    line-height: 34px;
    margin-bottom: 7px;
    color: #fff;
}

.forth-banner .container .row .title p:nth-child(3) {
    font-size: 3.2rem;
    line-height: 46px;
    margin-bottom: 28px;
    color: #fff;
}

.forth-banner .container .row .title .buy-now {
    border: none;
    outline: none;
    background-color: #8cc32e;
    border-radius: 3px;
    width: 150px;
    height: 40px;
    font-family: "Poppins", "HelveticaNeue", "Helvetica Neue", sans-serif;
    font-weight: bold;
    font-size: 11px;
    text-transform: uppercase;
    line-height: 20px;
    color: #fff;
}

.forth-banner .container .row .img {
    text-align: center;
}

.forth-banner .container .row .img img {
    width: 80%;
    margin-top: -125px;
}

.forth-banner .container .row .details {
    padding: 0;
}

.forth-banner .container .row .details ul {
    padding-left: 0;
}

.forth-banner .container .row .details ul li {
    list-style-type: none;
}

.forth-banner .container .row .details ul li p {
    font-family: "Roboto", "HelveticaNeue", "Helvetica Neue", sans-serif;
    font-weight: 500;
    font-size: 13px;
    line-height: 30px;
    margin-bottom: 0;
    color: #fff;
}

.forth-banner .container .row .details ul li p i {
    margin-right: 10px;
    color: #8cc32e;
}

.services {
    padding-top: 150px;
    padding-bottom: 50px;
    background-color: #fff;
}

.services .container .row .col-lg-4 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.services .container .row .col-lg-4 .cover-service {
    border: 2px dashed #ccc;
    text-align: center;
    padding: 20px 0 30px 0;
}

.services .container .row .col-lg-4 .cover-service img {
    margin-top: -50px;
    background-color: #fff;
    z-index: 5;
}

.services .container .row .col-lg-4 .cover-service .title {
    font-family: "Poppins", "HelveticaNeue", "Helvetica Neue", sans-serif;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 2px;
    margin-top: 10px;
}

.services .container .row .col-lg-4 .cover-service p:last-child {
    font-family: "Roboto", "HelveticaNeue", "Helvetica Neue", sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    width: 80%;
    margin: auto;
    color: #909090;
}

.blog-post {
    background-color: #fff;
    padding-bottom: 20px;
}

.blog-post .container {
    padding-bottom: 30px;
    border-bottom: 1px solid #e9e9e9;
}

.blog-post .container .title {
    margin-bottom: 20px;
}

.blog-post .cover-blog-list .swiper-container-blog {
    overflow: hidden;
}

.container {
    padding: 0;
}

.blog-post .cover-blog-list .swiper-container-blog .swiper-wrapper .swiper-slide .blog-detail .blog-img {
    transition: .3s ease-in-out;
}

.blog-post .cover-blog-list .swiper-container-blog .swiper-wrapper .swiper-slide .blog-detail .blog-img:hover {
    transform: scale(1.1, 1.1);
}

.blog-post .cover-blog-list .swiper-container-blog .swiper-wrapper .swiper-slide .blog-detail .cover-img {
    overflow: hidden;
}

.blog-post .cover-blog-list .swiper-container-blog .swiper-wrapper .swiper-slide .blog-detail .blog-name {
    font-family: "Poppins", "HelveticaNeue", "Helvetica Neue", sans-serif;
    font-weight: bold;
    font-size: 13px;
    color: #222222;
    line-height: 22px;
    text-decoration: none;
    transition: .3s ease-in-out;
    width: 100%;
    text-align: center;
}

.blog-post .cover-blog-list .swiper-container-blog .swiper-wrapper .swiper-slide .blog-detail .blog-name:hover {
    color: #8cc32e;
}

.blog-post .cover-blog-list .swiper-container-blog .swiper-wrapper .swiper-slide .blog-detail .more-inf {
    text-align: center;
}

.blog-post .cover-blog-list .swiper-container-blog .swiper-wrapper .swiper-slide .blog-detail .more-inf p {
    display: inline-block;
    font-family: "Roboto", "HelveticaNeue", "Helvetica Neue", sans-serif;
    font-weight: 400;
    font-size: 10px;
    color: #c8c8c8;
    text-transform: uppercase;
}

.blog-post .cover-blog-list .swiper-container-blog .swiper-wrapper .swiper-slide .blog-detail .more-inf p:last-child {
    margin-left: 35px;
}

.blog-post .cover-blog-list .swiper-container-blog .swiper-wrapper .swiper-slide .blog-detail .more-inf p i {
    margin-right: 10px;
}

.blog-post .cover-blog-list .swiper-container-blog .swiper-wrapper .swiper-slide .blog-detail .content {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    font-family: "Roboto", "HelveticaNeue", "Helvetica Neue", sans-serif;
    font-weight: 400;
    font-size: 13px;
    color: #666666;
    line-height: 20px;
    padding: 0 10px;
}

.company {
    background-color: #fff;
    padding-top: 20px;
    padding-bottom: 30px;
}

.company .container .swiper-container-company {
    overflow: hidden;
    cursor: pointer;
}

.row {
    margin: 0;
}

.company .container .swiper-container-company .swiper-wrapper .swiper-slide {
    height: 120px;
}

.company .container .swiper-container-company .swiper-wrapper .swiper-slide img {
    width: 80px;
    transition: .3s ease-in-out;
}

.company .container .swiper-container-company .swiper-wrapper .swiper-slide img:hover {
    transform: scale(1.2);
}

.product-list .swiper-container-list-product {
    overflow: hidden;
}

/* .product-list .swiper-container-list-product .swiper-wrapper .swiper-slide {
    background-color: rgba(56, 56, 56, 0.308);
} */

.product-list .swiper-container-list-product .swiper-wrapper .swiper-slide a {
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgb(175, 175, 175);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f7af24;
    background-color: #fff;
    text-decoration: none;
    border: 4px solid rgba(255, 255, 255, 0.507);
    transition: .4s ease-in-out;
    transform: scale(0.5);
}

.product-list .swiper-container-list-product .swiper-wrapper .swiper-slide:hover a {
    transform: scale(1);
}

.product-list .swiper-container-list-product .swiper-wrapper .swiper-slide a:hover {
    background-color: #8cc32ebd;
    color: #fff;
}

.product-list .swiper-container-list-product .swiper-wrapper .swiper-slide .cover-link {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.527);
    box-sizing: border-box;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition: .5s ease-in-out;
}

.product-list .swiper-container-list-product .swiper-wrapper .swiper-slide:hover .cover-link {
    opacity: 1;
    visibility: visible;
}

.footer-title {
    background-color: #002b51;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.footer-title .container {
    text-align: center;
    padding-top: 50px;
}

.footer-title .container .title {
    font-family: "Poppins", "HelveticaNeue", "Helvetica Neue", sans-serif;
    font-weight: 600;
    font-size: 1.8rem;
    color: white;
    line-height: 22px;
    margin-bottom: 15px;
}

.footer-title .container p:nth-child(2) {
    font-family: "Roboto", "HelveticaNeue", "Helvetica Neue", sans-serif;
    font-weight: 400;
    font-size: 11px;
    color: #8cc32e;
    text-transform: uppercase;
}

.footer-title .container .searchbar {
    max-width: 630px;
    position: relative;
    margin: auto;
    margin-top: 40px;
}

.footer-title .container .searchbar .search {
    width: 100%;
    height: 48px;
    padding: 18px;
    border: none;
    border-radius: 5px;
    font-size: 11px;
    font-family: "Roboto", "HelveticaNeue", "Helvetica Neue", sans-serif;
    font-weight: 400;
    background: white;
    outline: none;
}

.footer-title .container .searchbar button {
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    outline: none;
    height: 100%;
    width: 150px;
    font-family: "Roboto", "HelveticaNeue", "Helvetica Neue", sans-serif;
    border-radius: 5px;
    background-color: #8cc32e;
    text-transform: uppercase;
    font-weight: bolder;
    color: #fff;
    font-size: 12px;
}

.footer-content {
    background-color: #00305b;
    padding-top: 50px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.footer-content .container {
    padding: 0;
}

.footer-content .container .row {
    margin: 0;
}

.footer-content .container .row .col-lg-4 {
    padding: 0;
}

.footer-content .container .row .web-details .web-name {
    font-weight: 600;
    font-size: 2rem;
    text-transform: none;
    margin-bottom: 6px;
    margin-top: -18px;
    color: #8cc32e;
}

.footer-content .container .row .web-details p:nth-child(2), .footer-content .container .row .web-details p:nth-child(5) {
    font-family: "Roboto", "HelveticaNeue", "Helvetica Neue", sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 30px;
    color: #fff;
}

.footer-content .container .row .web-details p:nth-child(3) {
    font-family: "Poppins", "HelveticaNeue", "Helvetica Neue", sans-serif;
    font-weight: bold;
    font-size: 1rem;
    color: #8cc32e;
}

.footer-content .container .row .web-details p:nth-child(4) {
    font-family: "Roboto", "HelveticaNeue", "Helvetica Neue", sans-serif;
    font-size: 13px;
    font-weight: 400;
    color: #8cc32e;
}

.footer-content .container .row .web-details ul {
    display: inline-block;
    list-style-type: none;
    padding: 0;
}

.footer-content .container .row .web-details ul li {
    float: left;
    padding: 0 10px;
}

.footer-content .container .row .web-details ul li:first-child {
    padding-left: 0;
}

.footer-content .container .row .web-details ul li a {
    font-size: 19px;
    color: #fff;
    text-decoration: none;
    transition: .2s ease-in-out;
}

.footer-content .container .row .web-details ul li a:hover {
    color: #8cc32e;
}

.footer-content .container .row .customer-service .title {
    font-family: "Poppins", "HelveticaNeue", "Helvetica Neue", sans-serif;
    font-size: 0.9rem;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    margin-bottom: 16px;
}

.footer-content .container .row .customer-service ul {
    padding: 0;
    list-style-type: none;
}

.footer-content .container .row .customer-service ul li {
    padding: 5px 0;
}

.footer-content .container .row .customer-service ul li a {
    font-family: "Roboto", "HelveticaNeue", "Helvetica Neue", sans-serif;
    font-size: 13px;
    color: white;
    font-weight: 400;
    text-decoration: none;
    transition: .2s ease-in-out;
}

.footer-content .container .row .customer-service ul li a:hover {
    color: #8cc32e;
}

.footer-extend {
    background-color: #00305b;
    padding: 20px 20px;
}

.footer-extend .container {
    display: flex;
    align-items: center;
}

.footer-extend .container p {
    margin: 0;
    float: left;
    font-family: "Roboto", "HelveticaNeue", "Helvetica Neue", sans-serif;
    font-size: 12px;
    color: white;
    font-weight: bold;
}

.footer-extend .container a {
    margin-left: auto;
}

.mobile-navbar {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    width: 100%;
    z-index: 10;
    padding: 10px;
    box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.75);
}

.mobile-navbar .container .row .logo-place a img {
    margin-left: -20px;
}

.mobile-navbar .container .row .col-9 {
    position: relative;
    display: flex;
    align-items: center;
}

.mobile-navbar .container .row .col-9 .mobile-search-bar {
    display: flex;
    align-items: center;
    width: 100%;
}

.mobile-navbar .container .row .col-9 .mobile-search-bar input {
    width: 100%;
    padding: 10px 20px;
    border-radius: 80px;
    border: none;
    outline: none;
    background-color: #f4f4f4;
    height: 90%;
    font-size: 12px;
    font-weight: 500;
    font-family: "Roboto", "HelveticaNeue", "Helvetica Neue", sans-serif;
}

.mobile-navbar .container .row .col-9 .mobile-search-bar button {
    outline: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 5%;
    background-color: inherit;
    color: #8cc32e;
    font-size: 15px;
    cursor: pointer;
}

.mobile-navbar .container .row .menu {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 0;
}

.mobile-navbar .container .row .menu .mobile-menu-options {
    float: right;
}

.mobile-navbar .container .row .menu .mobile-menu-options button {
    outline: none;
    border: none;
    color: #8cc32e;
    cursor: pointer;
    background-color: inherit;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mobile-menu {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.295);
    z-index: 11;
    opacity: 0;
    visibility: hidden;
    transform: translateX(100px);
    transition: .5s ease-in-out;
}

.mobile-menu .container .menu-bar {
    float: right;
    position: absolute;
    right: 0;
    top: 0;
    width: 50%;
    height: 100%;
    background-color: #fff;
}

.mobile-menu .container .menu-bar .title {
    width: 100%;
    height: 50px;
    background-color: #8cc32e;
    padding: 15px 10px 15px 30px;
}

.mobile-menu .container .menu-bar .title p {
    float: left;
    margin: 0;
    font-size: 14px;
    font-weight: 700;
    color: white;
}

.mobile-menu .container .menu-bar .title button {
    float: right;
    outline: none;
    border: none;
    background-color: inherit;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.mobile-menu .container .menu-bar .bar {
    position: relative;
}

.mobile-menu .container .menu-bar ul {
    list-style-type: none;
    padding: 0;
}

.mobile-menu .container .menu-bar ul li {
    padding: 15px 0;
    border-bottom: 1px dashed #e1e1e1;
    padding-left: 30px;
}

.mobile-menu .container .menu-bar ul li a {
    text-decoration: none;
    font-family: "Poppins", "HelveticaNeue", "Helvetica Neue", sans-serif;
    color: #222222;
    font-size: 1rem;
    font-weight: 600;
}

.mobile-menu .container .menu-bar ul li i {
    width: 30px;
}

.mobile-menu .container .menu-bar ul li .mobile-home {
    color: #8cc32e;
}

.mobile-menu .container .menu-bar ul li button {
    float: right;
    display: inline-block;
    outline: none;
    border: none;
    background-color: inherit;
    margin-right: 10px;
    cursor: pointer;
}

.mobile-menu .container .menu-bar ul li p {
    font-family: "Poppins", "HelveticaNeue", "Helvetica Neue", sans-serif;
    color: #222222;
    font-size: 1rem;
    font-weight: 600;
    display: inline-block;
    margin: 0;
}

.mobile-menu .container .menu-bar .bar .product-bar {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 20;
    width: 100%;
    height: 100vh;
    overflow: scroll;
    background-color: #fff;
    padding-bottom: 50px;
    opacity: 0;
    visibility: hidden;
    transform: translateX(100px);
    transition: .5s ease-in-out;
}

.mobile-menu .container .menu-bar .bar .product-bar .backtohome-mobile, .backtohome-mobile-brand {
    cursor: pointer;
    width: 100%;
    border-bottom: 1px dashed #e1e1e1;
    height: 50px;
    padding: 15px 15px;
}

.mobile-menu .container .menu-bar .bar .product-bar .backtohome-mobile p, .mobile-menu .container .menu-bar .bar .product-bar .backtohome-mobile-brand p {
    margin: 0;
    text-align: center;
    color: #222222;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
}

.mobile-menu .container .menu-bar .bar .product-bar .backtohome-mobile button, .mobile-menu .container .menu-bar .bar .product-bar .backtohome-mobile-brand button {
    border: none;
    outline: none;
    background-color: inherit;
    float: left;
    display: flex;
    color: rgba(0, 0, 0, .3);
}

.mobile-menu .container .menu-bar .bar .product-bar .row .col-12 {
    margin: 0;
}

.mobile-menu .container .menu-bar .bar .product-bar .row .col-12 li a {
    padding-left: 20px;
    font-family: "Poppins", "HelveticaNeue", "Helvetica Neue", sans-serif;
    font-size: 13px;
    color: #666666;
    font-weight: 400;
}

.mobile-menu .container .menu-bar .bar .product-bar .row .col-12 li {
    padding: 7px 10px 7px 30px;
}

.mobile-menu .container .menu-bar .bar .product-bar .row .col-12 li :first-child {
    padding-top: 15px;
    padding-bottom: 15px;
}

@media (max-width: 1200px) {
    .cover-header .navbar .menu-options {
        margin-left: 0;
    }
    .slide1 .smaller-title {
        font-size: 1.6rem;
        padding-right: 3px;
    }
    .slide1 .title {
        font-size: 6rem;
    }
    .slide2 .smaller-title {
        font-size: 1.6rem;
    }
    .slide2 .title {
        font-size: 6rem;
    }
    .second-banner .banner1 img {
        width: 80%;
    }
    .customCard .title .title__left {
        width: 150px;
    }
    .customCard .title .title__right {
        margin-bottom: 20px;
    }
    .forth-banner .container .row .img img {
        margin-top: -76px;
    }
}

@media (max-width: 992px) {
    .cover-header .navbar .menu-options {
        margin-left: -55px!important;
        float: left;
    }
    .navbar-brand img {
        width: 100px;
    }
    .cover-header .navbar .menu-options a {
        font-size: 10px;
    }
    .cover-header .navbar .menu-options p {
        font-size: 10px;
        padding: 0 10px;
    }
    .slide1 .smaller-title {
        font-size: 1rem;
    }
    .slide1 .title {
        font-size: 4rem;
    }
    .slide2 .smaller-title {
        font-size: 1rem;
    }
    .slide2 .title {
        font-size: 4rem;
    }
    .services {
        padding-top: 50px;
    }
    .services .container .row .col-lg-4 {
        margin-bottom: 50px;
    }
    .services .container .row .col-lg-4 .cover-service {
        width: 80%;
    }
}

@media (max-width: 768px) {
    .first-nav {
        display: none;
    }
    .forth-banner {
        height: auto;
    }
    .forth-banner .container .row .details {
        padding: 0 20px;
        margin-top: 20px;
    }
    .running-shoe .container .title .shoes .shoes-content, .blog-post .container .title .blog .blog-content {
        width: 400px;
    }
}

@media (max-width: 576px) {
    .category {
        padding: 0 5px;
    }
    .slide1 .title {
        font-size: 2rem;
    }
    .slide2 .title {
        font-size: 2.5rem;
    }
    .running-shoe .container .title .shoes .shoes-content, .blog-post .container .title .blog .blog-content {
        width: 300px;
        padding: 0 5px;
    }
    .blog-post .container .title {
        padding: 0 5px;
    }
    .running-shoe .container {
        padding: 0 10px;
    }
    .blog-post {
        padding: 0 10px;
    }
    .footer-extend .container {
        display: block;
        text-align: center;
    }
    .footer-extend .container p {
        float: none;
        margin-bottom: 5px;
    }
    .footer-title .container, .footer-content .container, .footer-extend .container {
        padding: 0 10px;
    }
    .footer-title .container {
        padding-top: 20px;
    }
}