// config global css
* {
    margin: 0;
    padding: 0;
}
header,
section,
footer,
aside,
nav,
main,
article,
figure {
    display: block;
}
body {
    font-family: "Poppins", sans-serif;
    overflow-x: hidden;
}
.titleText {
    padding-top: 91px;
    text-align: center;
    font-size: 24px;
    font-weight: 800;
    padding-bottom: 25px;
}
