.header {
    background-color: $primary-color;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    transition: 0.5s;
    transform: translateY(-100%);
    position: fixed;
    z-index: 99999;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;

    .header-mobile {
        display: none;
    }

    &.active {
        transform: translateY(0);
    }

    .header__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .logo {
            img {
                width: 120px;
            
            }
        }

        .nav {
            align-items: center;

            .nav__item {
                display: grid;
                place-items: center;
                padding: 20px 20px;
                cursor: pointer;
                position: relative;

                .text {
                    text-transform: uppercase;
                    font-size: 12px;
                    font-weight: 600;
                    color: white;
                    display: flex;
                    align-items: center;
                    transition: 0.3s;

                    .arrow-down {
                        font-size: 12px;
                        margin-left: 10px;
                        transition: 0.3s;
                    }

                    &:hover {
                        color: #000;

                        .arrow-down {
                            color: #000;
                        }
                    }
                }

                &:hover {
                    .nav-dropdown {
                        visibility: visible;
                        opacity: 1;
                    }
                }

                .nav-dropdown {
                    padding: 30px 40px;
                    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
                    background-color: #fff;
                    position: absolute;
                    min-width: 270px;
                    z-index: 99999;
                    top: 100%;
                    left: 0;
                    opacity: 0;
                    visibility: hidden;
                    transition: 0.3s;

                    .nav-dropdown__item {
                        font-size: 13px;
                        transition: 0.3s;
                        cursor: pointer;
                        position: relative;
                        z-index: 9999999;

                        &:hover {
                            color: #8cc32e;
                        }
                    }
                }

                ion-icon {
                    color: white;
                    font-size: 20px;
                }
            }
        }
    }
}