.page-width{
    padding-top: 100px;
}
.collection_title {
    text-align: left;
    width: 900px;
    height: 50px;
    display: inline-block;
    font-family: "Poppins", "HelveticaNeue", "Helvetica Neue", sans-serif;
    font-weight: 600;
    color: #222222;
    font-size: 2.4rem;


}

.collection_vn {}

.collection_left .active {
    width: 90px;
    height: 40px;
}

.collection_icon {

    width: 1500px;
    height: 80px;
    margin: 50px 0px 0px 0px;

}

.collection_left {


    width: 900px;
    height: 100px;

    display: inline-block;


}

.active1 {
    text-align: center;
    width: 45px;
    height: 45px;
    background-color: #c4c4c4;
    float: left;
    padding: 10px;
    border-radius: 5px;

}

.active1:hover {
    background-color: #8cc32e;
    transform: scale(1.1);


}

.active2 {
    text-align: center;
    width: 45px;
    height: 45px;
    background-color: #c4c4c4;
    border-radius: 5px;
    float: left;
    padding: 10px;
    margin-left: 10px;
}

.active2:hover {
    background-color: #8cc32e;
    transform: scale(1.1);
}

.active3 {
    width: 30%;
    height: 53px;

    float: left;
    padding: 15px;
    text-align: left;
    font-size: 11px;
    font-weight: 400;
    font-family: "Roboto", "HelveticaNeue", "Helvetica Neue", sans-serif;
    color: #909090;
    text-transform: uppercase;
    background: white;
    z-index: 1;
    padding-right: 10px;

}

.active4 {

    height: 53px;

    display: inline;
    float: left;
    text-align: right;
    clear: none;
    padding: 10px;
    border: 2px;
}

.fa {


    width: 10px;
    height: 33px;
    color: black;


}




.collection {
    width: 1110px;
    height: 50px;


}

.collection_left .active {
    width: 110px;
    height: 53px;
    float: left;

}

.hr {
    width: 35%;

    float: left;
    padding: 5px;
}

.btn {
    font-family: "Roboto", "HelveticaNeue", "Helvetica Neue", sans-serif;
    font-size: 11px;
    font-weight: 400;
    color: #909090;
    text-transform: uppercase;
    padding: 9px 0 10px;
    padding-left: 9px;
    padding-right: 30px;
    height: 35px;
    border: none;
    background: white;
    border: 1px solid #dfdfdf;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
}

.container {
    width: 1200px;

}

.sidebar-block.categories_sidebar.sidebar-block_1 {
    margin-top: 20px;
    background: #f1f1f1;
    height: 272px;

    border-bottom: 1px solid white;
    padding: 9px 0 6px;

    padding-right: 0;
    font-size: 13px;
    border-radius: 5px;
}

.sidebar-block {}

.title_block span {
    font-family: "Poppins", "HelveticaNeue", "Helvetica Neue", sans-serif;
    color: #222222;
    text-transform: uppercase;
    font-size: 1.4rem;
    padding: 12px 0 15px;
    position: relative;
    font-weight: bold;
}

.title_block {
    white-space: nowrap;
    border-bottom: 1px solid white;
    height: 54px;
    padding: 15px 20px 12px;
    font-family: "Poppins", "HelveticaNeue", "Helvetica Neue", sans-serif;
}

.cateTitle_open {
    padding-left: 20px;
    border-bottom: 1px solid white;
    height: 36px;
    padding: 9px 0px 6px;

}

.cateItem {
    font-family: "Roboto", "HelveticaNeue", "Helvetica Neue", sans-serif;
    color: #444444;
    font-weight: bold;
}

.arrow {
    background: #cadae2;
    font-family: 'Material-Design-Iconic-Font';
    width: 15px;
    height: 15px;
    padding: 1px 7px;
    color: white;
    border-radius: 2px;
    position: relative;
    left: 230px;

}

.cateTitle_open a {
    text-decoration: none;
    color: #444444;
}

.sidebar-block.sidebar-block_2 {
    margin-top: 50px;
    height: 600px;



}

.item {
    margin: 10px 0px 10px 15px;
    padding: 7px 9px;
    background: #8cc32e;
    border-radius: 4px;
    display: inline-block;
    font-family: "Roboto", "HelveticaNeue", "Helvetica Neue", sans-serif;
    font-size: 11px;
    font-weight: bold;
    color: white;
}

.item a {
    text-decoration: none;
    color: white;
}

.filter-item_title {
    margin-left: 15px;
    font-family: "Poppins", "HelveticaNeue", "Helvetica Neue", sans-serif;
    font-size: 12px;
    display: block;
}

.custom-checkbox {
    background: white;
    border-radius: 1px;
    width: 16px;
    height: 16px;
    border: 1px solid #dbdbdb;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin-right: 15px;
}

.list_filter.filter-item.filter-item_content.list_unstyled.list {
    border-radius: 2px;
    border: 1px solid #f7af24;
    background: #f7af24;
}

li {
    margin: 10px 0px 0px;
    cursor: pointer;
    font-size: 13px;
    color: #666666;
    font-family: "Roboto", "HelveticaNeue", "Helvetica Neue", sans-serif;
    font-weight: 400;
}

.filter-item_content {
    padding: 8px 0px 0px;
    padding-left: 15px;
    padding-right: 10px;
}

.list_unstyled {
    overflow-y: scroll;
    max-height: 140px;
}

.filter-item .filter-price {
    margin-top: 20px;
}

.list-inline-item .custom-checkbox {
    width: 26px;
    height: 26px;
    border-radius: 100%;
    margin-right: 1px;
    border: none;
}

.list-inline-item[data-value="white"] .custom-checkbox {
    border: 1px solid #d7d7d7;
}

.list-inline {
    padding-left: 0;

}

#list-size li {
    width: 43px;
    height: 43px;
    line-height: 43px;
    border-radius: 50%;
    text-align: center;
    border: 1px solid#d7d7d7;
    cursor: pointer;
    font-weight: 400;
    background: white;
    margin-right: 11px;
}

.listSiderbarBlog a {
    text-decoration: none;
    color: #666666;
}

.listSiderbarBlog {
    margin-top: 15px;
}

.listSiderbarBlog li {
    display: inline-block;
    text-align: center;
    border: 1px solid#eaeaea;
    background: white;
    border-radius: 4px;
    margin-bottom: 9px;
    margin-right: 4px;
    padding: 5px 10px;

    font-family: "Roboto", "HelveticaNeue", "Helvetica Neue", sans-serif;
    font-size: 12px;
    font-weight: 400;

}