.img{
    max-height: 5.7142857143em;
    max-width: 100%;
    color:#1990c6;
    font-size: 12px;
    font-family: Source Sans Pro, sans-serif;
    line-height: 1.3em;

}
.checkout{
    padding-top: 100px;
    padding-bottom: 50px;
}
.main__header img{
    width: 125px;
}
.main{
    padding-top: 4em;
    width: 52%;
    padding-right: 6%;
    float: left;
    padding-left: 25px;
}
.cart {
    display: flex;
}
.logo{
    margin-left: 5px;
    margin-right: 5px;
    color: #737373;
    fill: currentColor;
    width: 10px;
    height: 10px;
    font-size: 0.8571428571em;
}
.cart1{
    text-decoration: none;
    color:#1990c6;
    font-size: 0.8571428571em;

}
.info{
    padding-top: 15px;  
    display: flex;
}
.info1 .info2{
    font-weight: 600;
    color :#333;
    font-size: 0.8571428571em;
}
.info1{
    display: flex;
}
.ship{
    display: flex;
}
.ship1{
    color: #737373;
    font-size: 0.8571428571em;

}
.pay1{
    color: #737373;
    font-size: 0.8571428571em;
}
.title .title__left{
    padding-left: 0.5714285714rem;
    padding-right: 0.5714285714rem;

    color: #333333;
    font-size: 1.1857142857em;
    line-height: 1.3em;
    font-weight: normal;
    padding-top: 0.1428571429rem;
    padding-bottom: 0.1428571429rem;
}
.main__content{
    padding-top: 15px;
    
}
.title{
    margin-left: -0.5714285714rem;
    margin-right: -0.5714285714rem;
    margin-top: -0.1428571429rem;
    margin-bottom: -0.1428571429rem;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.title__right{
    display: flex;
    padding-left: 0.5714285714rem;
    padding-right: 0.5714285714rem;
    padding-top: 0.1428571429rem;
    padding-bottom: 0.1428571429rem;
    line-height: 1.5em;
}
.title__right .ques{
    line-height: 1.5em;
    color: #545454;
    font-size: 14px;

}
.title__right .login{
    text-decoration: none;
    color:#1990c6;
    line-height: 1.5em;
    font-size: 14px;
    margin-left: 5px;
    
}
#ContactFormEmail{
    width: 200%;
    float:left;
    padding: 0.4285714286em;
    box-sizing: border-box;
    background-color: white;
    color: #333333;
    border-color: #d9d9d9;
    font-size: 14px;
    line-height: 1.3em;
    border-radius: 5px;
   background: white;
   border: 1px solid #ededed;
}
.emailorphone{
    padding-top:15px;
}
.input-checkbox{
    border-color: #d9d9d9;
    background-color: white;
    box-sizing: border-box;
    padding: 0;
    border-radius: 4px;
    width: 18px;
    height: 18px;
    border:1px solid;
    vertical-align: -4px;
}
.check{
    display: flex;
    padding-top: 14px;
    width: 100%;
    display: table;
    zoom: 1;
    line-height: 1.3em;
}
.check2{
    display: table-cell;
    width: 100%;
    vertical-align: middle;
    color: #545454;
    font-size: 10px;
    line-height: 1.3em;
    padding-left: 5px;
}
.shippingadd{
    color: #333333;
    font-size: 1.2857142857em;
    line-height: 1.3em;

}
.shipping__header{
    padding-top: 3em;
    position: relative;
    color: #545454;
    font-size: 14px;
}
.shipping__content{
    zoom: 1;
    display: block;
    font-size: 14px;
    display: table;
    clear: both;
}
.Name{
    padding-top: 10px;
    width: 167%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#Firstname{
    padding: 0.4285714286em;
    box-sizing: border-box;
    background-color: white;
    color: #333333;
    border-color: #d9d9d9;
    font-size: 14px;
    line-height: 1.3em;
    border-radius: 5px;
   background: white;
   border: 1px solid #ededed;
   width: 150%;
   
}
#Lastname{
    padding: 0.4285714286em;
    box-sizing: border-box;
    background-color: white;
    color: #333333;
    border-color: #d9d9d9;
    font-size: 14px;
    line-height: 1.3em;
    border-radius: 5px;
   background: white;
   border: 1px solid #ededed;
   width: 150%;
   
}
#ADD{
    width: 200%;
    float:left;
    padding: 0.4285714286em;
    box-sizing: border-box;
    background-color: white;
    color: #333333;
    border-color: #d9d9d9;
    font-size: 14px;
    line-height: 1.3em;
    border-radius: 5px;
   background: white;
   border: 1px solid #ededed;
}
.address{
    padding-top: 7px;
    margin-bottom: 7px;
}

#ADD2{
    width: 200%;
    float:left;
    padding: 0.4285714286em;
    box-sizing: border-box;
    background-color: white;
    color: #333333;
    border-color: #d9d9d9;
    font-size: 14px;
    line-height: 1.3em;
    border-radius: 5px;
   background: white;
   border: 1px solid #ededed;
}
.address1{
    padding-top: 10px;
}
#city{
    width: 200%;
    float:left;
    padding: 0.4285714286em;
    box-sizing: border-box;
    background-color: white;
    color: #333333;
    border-color: #d9d9d9;
    font-size: 14px;
    line-height: 1.3em;
    border-radius: 5px;
   background: white;
   border: 1px solid #ededed;
}
.shipping__header .shipping__content .City{
    padding-top: 10px;
}
.input-group{
    padding-top: 10px;
    width: 200%;
}
.Check{
    display: flex;
    padding-top: 5px;
    width: 100%;
    display: table;
    zoom: 1;
    line-height: 1.3em;
}
.Check2{
    display: table-cell;
    width: 100%;
    vertical-align: middle;
    color: #545454;
    font-size: 10px;
    line-height: 1.3em;
    padding-left: 5px;
}
.input-checkbox1{
    border-color: #d9d9d9;
    background-color: white;
    box-sizing: border-box;
    padding: 0;
    border-radius: 4px;
    width: 18px;
    height: 18px;
    border:1px solid;
    vertical-align: -4px;
}
.btn{
    
    border-radius: 5px;
    background-color: #23314e;
    background-clip: border-box;
    display: inline-block;
    color: white;
    padding: 1.4em 1.7em;
    text-align: center;
   width: 720;
   font-size: 10px;
    
}
.btn1{
    color: white;
    font-weight: 600;
    text-align: center;
    font-size: 10px;
}
.BUTTON{
    padding-top: 10px;
    display:flex;
}
.return{
    vertical-align: middle;
    color: #1990c6;
    font-size: 12px;
    line-height: 1.3em;
    padding-left: 15px;
    padding-top: 15px;
    align-items: center;
}
.sidebar{
    
    width: 110%;
    background-position: left top;
    float: right;
    position: relative;
    font-size: 14px;
    line-height: 1.3em;
    font-family: Source Sans Pro, sans-serif;
    box-shadow: 1px 0 0 #d1dbdd inset;
    padding-top: 4em;
    
    
}
.sidebar__content{
    padding-left: 25px;
}
.product{
    
    
    width: 80%;

}
.Title1{
   padding-top: 10px;
   font-size: 12px;
   font-weight: 600;
   text-align: left;
   
}
.Title-product{
    padding-left: 1em;
    width: 100%;
    display: table-cell;    
    vertical-align: inherit;
    line-height: 1.3em;
    
}
.size{
    font-size: 0.8571428571em;
    text-align: left;
    color: #686d6f;
}
.Title2{
   font-weight: 600;
   text-align: right;
   white-space: nowrap;
   font-size: 12px;
   padding-left: 5px;
   width: 50%;
}
.product1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border-bottom: 2px solid #d1dbdd;
    
}
.Payment{
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    width: 100%;
    border-bottom: 2px solid #d1dbdd;
    
}
.Payment1{
    display: flex;
    
    width: 90%;
    padding-top: 20px;

}
.Payment__left{
    font-weight: 600;
   text-align: right;
   white-space: nowrap;
   font-size: 10px;
   padding-left: 280px;
   width: 90%;
}
.Payment__right{
    text-align: left;
    display: table-cell;
    font-size: 1em;
    color: #4d5051;
    width: 80%;

}
.Payment__left1{
    color: #686d6f;
        font-weight: normal;
       text-align: right;
       white-space: nowrap;
       font-size: 10px;
       padding-left: 220px;
       width: 90%;
}
.PAYMENT{
    border-bottom: 2px solid #d1dbdd;
    width: 90%;
}
.total{
    width: 100%;
    
    padding-top: 25px;
    display: table-row;
    vertical-align: inherit;
}
.total1{
    display: flex;
    padding-top: 20px;
}
.total__right{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 5px;
    position: relative;
    text-align: right;
    padding-left: 1.5em;
    white-space: nowrap;
    
    font-size: 1em;
    width: 50%;
}
.total__left{
    color: #2e3131;
    font-size: 1.1428571429em;
    text-align: left;
    padding-top: 15px;
}
.usd{
    color: #686d6f;
    font-size: 0.8571428571em;
    vertical-align: 0.2em;
    margin-right: 0.5em;
    text-align: right;
    padding-left: 1.5em;

}
.usd2{
    color: #2e3131;
    font-size: 1.7142857143em;
    font-weight: 600;
    line-height: 1em;
    letter-spacing: -0.04em;
    text-align: right;
    padding-left: 1.5em;
}